footer {
  background-color: black;
  display: grid;
  grid-template-columns: 20% 20% 40% 20%;
  height: auto;
  padding: 20px 60px;
}

footer .footer-col {
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-col p {
  margin: 0 0 8px;
}

.__social-media {
  align-items: center;
  display: grid;
  grid-gap: 0 10px;
  grid-template-columns: 20px 1fr;
  margin: 0 0 8px;
}

.__social-media img {
  aspect-ratio: 1;
  width: 100%;
}

.footer-logo {
  margin: 40px 0 0;
}